/* Written by Chadwick Swenson 1/3/2014 */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  background: #f9f9f9;
  color: #444;
  padding-bottom: 500px;
}
header {
  height: 80px;
  border-bottom: 1px solid #8c8c8c;
  width: 100%;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 1000;
}
h4 {
  font-size: 1.2em;
}
nav {
  float: right;
  display: inline-block;
  text-align: right;
  width: 800px;
  margin-right: -201px;
}
.top-link {
  color: #000;
  text-align: center;
  border-left: 1px solid #8c8c8c;
  font-size: 1em;
  line-height: 70px;
  font-weight: 500;
  height: 100%;
  width: 170px;
  display: inline-block;
  position: relative;
  float: right;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.top-link:hover {
  background: #ccc;
}
.current {
  background: #444 !important;
  color: #fff;
}
.pay-now {
  color: #fff;
  background: #d34836;
  border-left: 1px solid #8c8c8c;
  font-size: 1em;
  font-weight: 300;
  height: 100%;
  width: 200px;
  display: inline-block;
  position: relative;
  float: right;
  cursor: pointer;
}
.button-text {
  text-align: left;
  display: block;
  position: relative;
  float: left;
  padding: 0px 10px;
  color: #f5e6e4;
  font-weight: 500;
}
.time {
  display: inline-block;
  position: relative;
  font-weight: 300;
}
.total {
  font-size: 1.6em;
  font-weight: 300;
  float: left;
  display: block;
  position: relative;
  width: 100%;
  padding: 10px;
  text-align: left;
}
.logo {
  display: inline-block;
  position: absolute;
  width: 400px;
  text-align: left;
}
.logo img {
  display: block;
}
.tagline {
  position: relative;
  display: block;
  font-size: 1em;
  margin-left: 23px;
  top: -11px;
}
.spacer {
  height: 100px;
  display: block;
  margin: 10px auto;
  position: relative;
  width: 1000px;
}
section {
  display: block;
  margin: 16px auto;
  position: relative;
  width: 1000px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-transform: scale(2px);
  -webkit-transform: scale(2px);
  -o-transform: scale(2px);
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  z-index: 500;
  overflow: hidden;
}
.section-header {
  display: block;
  margin: 25px auto 10px auto;
  position: relative;
  width: 1000px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-transform: scale(2px);
  -webkit-transform: scale(2px);
  -o-transform: scale(2px);
  z-index: 500;
  text-align: left;
  padding: 10px;
}
.section-header h4 {
  left: -10px;
  display: inline-block;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
}
.sub-section-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-weight: 300;
}
.sub-section-nav {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-weight: 300;
  width: 100%;
}
strong {
  font-weight: 600;
}
.section-date {
  float: right;
  margin-right: -10px;
  font-weight: 300;
  display: inline-block;
  position: relative;
  top: 13px;
}
.sub-section-price {
  float: right;
}
.chart {
  width: 100%;
  display: inline-block;
  position: relative;
  height: 200px;
}
a {
  color: #1656e0;
  text-decoration: none;
}
a:hover {
  color: #476bba;
}
.right {
  float: right;
  display: inline-block;
  position: relative;
  color: #ccc;
}
.chart img {
  position: absolute;
  display: inline-block;
  z-index: 1;
}
.x-axis {
  position: absolute;
  display: inline-block;
  width: 100%;
  bottom: 40px;
  left: 0px;
  z-index: 3;
}
.y-axis {
  position: absolute;
  display: inline-block;
  height: 100px;
  top: 20px;
  left: 0px;
  width: 40px;
  background: #fff;
  z-index: 2;
}
.y-axis-item {
  color: #ccc;
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 0.8em;
  font-weight: 300;
  height: 50px;
}
.x-axis-item {
  color: #ccc;
  display: inline-block;
  position: relative;
  width: 50px;
  text-align: right;
  font-size: 0.8em;
  font-weight: 300;
}
.addition-item {
  display: inline-block;
}
.amount {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.2em;
}
.description {
  font-size: 1em;
  font-weight: 300;
}
.operation {
  display: inline-block;
  font-size: 1.6em;
  width: 70px;
  text-align: center;
  position: relative;
  top: -10px;
}
.total-button {
  background: #d34836;
  color: #fff;
  background: #d34836;
  font-size: 1em;
  font-weight: 300;
  width: 180px;
  display: inline-block;
  position: relative;
  float: right;
  top: -12px;
  right: -12px;
  padding-bottom: 20px;
  cursor: pointer;
}
.total-button:hover,
.pay-now:hover {
  background: #c73e2c;
}
.total-button:active,
.pay-now:active {
  box-shadow: inset 0px 0px 15px #822115;
  -webkit-box-shadow: inset 0px 0px 15px #822115;
  -moz-box-shadow: inset 0px 0px 15px #822115;
}
.section1 {
  height: 60px;
}
ul {
  display: inline-block;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
li {
  display: inline-block;
  position: relative;
  padding: 0px;
  margin: 0px;
  padding: 6px 0px;
  width: 100%;
  border-top: 1px solid #ccc;
}
li:nth-child(odd) {
  background: #f9f9f9;
}
.call-info-item {
  width: 170px;
  display: inline-block;
  position: relative;
  padding-left: 6px;
  font-weight: 300;
}
li span:nth-child(6),
.labels span:nth-child(6) {
  padding-right: 0px;
  width: auto;
}
.labels {
  width: 100%;
  padding: 6px 0px;
}
.labels .call-info-item {
  font-weight: 600;
  text-transform: uppercase;
}
.top-icon {
  position: relative;
  display: inline-block;
  top: 9px;
}
.section-icon {
  position: relative;
  display: inline-block;
  top: 7px;
}
